<div class="inner-container">
    <h2 class="fs-5 mb-4 text-color">Angular Project Structure Overview</h2>
    <h4 class="fs-6 my-3 sub-title">Step 1: Install Angular CLI</h4>
    <app-code-block [content]="step1" language="bash"></app-code-block>
    <h4 class="fs-6 my-3 sub-title">Step 2: Create new Project</h4>
    <app-code-block [content]="step1" language="bash"></app-code-block>
    <h4 class="fs-6 my-3 sub-title">Step 3: Run Server and See Your Application</h4>
    <app-code-block [content]="step1" language="bash"></app-code-block>
</div>