.sidebar {
    width: 260px;
    background-color: var(--bg-color);
    color: var(--white-color);
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.15);
    z-index: 100;

    .sidebar-content {
        flex: 1;
        overflow-y: auto;
        padding-top: 24px;
        padding-bottom: 24px;
        scrollbar-width: thin;
        scrollbar-color: #475569 transparent;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #475569;
            border-radius: 4px;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 15px 7px;
            margin: 8px 10px;
            font-size: 14px;
            font-weight: 500;
            border-left: 4px solid transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            color: var(--menu-color);
            position: relative;
            overflow: hidden;
            z-index: 0;

            .menu-item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                gap: 8px;
                // color: var(--white-color);
            }

            .menu-icon {
                font-size: 16px;
                width: 24px;
                height: 24px;
                background-color: var(--menu-hover-bgcolor);
                color: var(--white-color);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                font-weight: bold;
            }

            i {
                margin-right: 12px;
                font-size: 18px;
            }

            .expand-icon {
                margin-left: auto;
                font-size: 12px;
                transition: transform 0.3s ease;
            }

            &.open .expand-icon {
                transform: rotate(180deg);
            }
            
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                background-color: var(--menu-hover-bgcolor);
                z-index: -1;
                transition: left 0.4s ease;
            }

            &:hover::before {
                left: 0;
            }
            &:hover {
                background-color: var(--menu-hover-bgcolor);
                color: var(--white-color);
            }

            &.active {
                background-color: var(--active-color);
                color: var(--white-color);
                border-left: 4px solid #93c5fd;
                &::before {
                    background-color: var(--active-color-before);
                }
            }
        }

        .submenu {
            list-style: none;
            padding-left: 26px;
            margin: -4px 0 8px;
            background-color: var(--bg-color);
            overflow: hidden;
            max-height: 0;
            transition: max-height 0.3s ease;

            li {
                padding: 10px 5px;
                font-size: 13px;
                font-weight: 400;
                color: var(--sub-menu-color);
                transition: color 0.3s;

                &:hover {
                    color: var(--white-color);
                    background-color: var(--sub-menu-hover-bgcolor);
                }

                &.active {
                    color: var(--white-color);
                    font-weight: 500;
                }
            }

            &.open {
                max-height: 300px;
            }
        }
    }
}
.app-layout.collapsed {
    .sidebar {
        width: 70px;

        .menu-label,
        .expand-icon {
            display: none;
        }

        .sidebar-content {
            padding-left: 6px;
            padding-right: 6px;
        }
        .menu-icon {
            display: flex;
        }

        ul {
            li {
                justify-content: center;

                .menu-item {
                    justify-content: center;
                }

                .menu-label,
                .expand-icon {
                    display: none;
                }
            }

            .submenu {
                display: none !important;
            }

            li:hover .menu-item {
                position: relative;
            }

            li:hover .menu-item::after {
                content: attr(title);
                position: absolute;
                left: 60px;
                background: var(--sub-menu-hover-bgcolor);
                color: var(--white-color);
                padding: 6px 10px;
                border-radius: 4px;
                white-space: nowrap;
                font-size: 13px;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
                z-index: 1000;
            }
        }
    }
}
