<nav class="sidebar mob-width">
    <div class="sidebar-content">
        <ul>
            <ng-container *ngFor="let menu of menus">
                <li (click)="toggleMenu(menu.key)" [class.open]="openMenus[menu.key]">
                    <div class="menu-item" [attr.title]="isCollapsed ? menu.label : null">
                        <span class="menu-icon" *ngIf="isCollapsed">
                            {{ menu.label.charAt(0) }}
                        </span>

                        <span class="menu-label" *ngIf="!isCollapsed">
                            {{ menu.label }}
                        </span>

                        <i class="fas expand-icon" *ngIf="!isCollapsed" [class.fa-plus]="!openMenus[menu.key]"
                            [class.fa-minus]="openMenus[menu.key]"></i>
                    </div>
                </li>

                <ul class="submenu" [class.open]="openMenus[menu.key]" *ngIf="!isCollapsed">
                    <li *ngFor="let sub of menu.subItems" [routerLink]="sub.route" routerLinkActive="active">
                        {{ sub.label }}
                    </li>
                </ul>
            </ng-container>
        </ul>
    </div>
</nav>